.Developer {
    margin-bottom: 5%;
}

.Developer .row-div .small-div .card .card-image img {
    height: auto;
    width: 100%;
}

.Developer .row-div .small-div .card {
    display: flex;
    background-color: rgba(0,0,0,.6);
}

.Developer .row-div .small-div .card .card-image {
    width: 30%;
}

.Developer .row-div .small-div .card .card-content .card-title,
.Developer .row-div .small-div .card .card-content {
    width: 100%;
}

.Developer .row-div .small-div .card .card-content .card-title button {
    float: right;
    width: 21%;
}